{% extends "base.html" %}
{% block content %}
    {% for ingredient in recipe.ingredients.all %}
        <tr>
            <td>{{ ingredient.amount }}</td>
            <td>{{ ingredient.measure.name }}</td>
            <td>{{ ingredient.food.name }}</td>
            <td>
                <form method="post" action="{% url 'shopping_item_create' %}">
                    {% csrf_token %}
                    <input type="hidden" name="ingredient_id" value="{{ ingredient.id }}"/>
                    <button>+ shopping list</button>
                </form>
            </td>
            <!-- New code ends here -->
        </tr>
    {% endfor %}
{% endblock content %}
