{% extends "base.html" %}
{% block content %}
  <li>
    <a href="{% url 'shopping_item_create' %}">
      <button>Create Shopping List</button>
    </a>
  </li>
  {% for ingredient in recipe.ingredients.all %}
    <tr>
      <td>{{ ingredient.amount }}</td>
      <td>{{ ingredient.measure.name }}</td>
      <td>{{ ingredient.food.name }}</td>
      <td>
        {% if ingredient.food not in food_in_shopping_list %}
          <form method="post" action="{% url 'shopping_item_create' %}">
            {% csrf_token %}
            <input type="hidden" name="ingredient_id" value="{{ ingredient.id }}"/>
            <button>+ shopping list</button>
          </form>
        {% else %}
          in your list
        {% endif %}
      </td>
    </tr>
  {% endfor %}
{% endblock content %}
